@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* bootstrap */
*:focus {
    box-shadow: none !important;
}
:root {
    --bs-blue: #1F5FBF;
    --bs-primary: #1F5FBF;
    --bs-cyan: rgba(31,95,191,.1);
    --bs-font-sans-serif: 'Roboto', sans-serif;
}
body {
    color: #224156;
}
.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.btn-cyan {
    border-color: var(--bs-cyan);
    color: var(--bs-primary);
    background-color: var(--bs-cyan);
}
.text-primary {
    color: var(--bs-primary) !important;
}
.bg-primary {
    background-color: var(--bs-primary) !important;
}

/* navigation */
#navigation:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6px;
    background-color: var(--bs-primary);
}